div {
  /* width: 200px;
  height: 200px; */
  /* padding: 50px; */
  /* border: 5px solid black; */
}

#first-div {
  background-color: #39cccc;
}

#second-div {
  box-sizing: border-box;
  background-color: #ff4136;
}

p {
  background-color: #7fdbff;
}

.cheese {
  min-height: 10px;
  width: 200px;
  height: 600px;
  background-color: blanchedalmond;
}

.cheese img {
  width: 100%;
}

.cheese--old {
  min-height: 10px;
  width: 200px;
  height: 600px;
  background-color: blanchedalmond;
}
.cheese--old img {
  /* width: 100%; */
}
