<%# <% action = (cat.persisted? ? cat_url(cat) : cats_url) %>
<%# <% method = (cat.persisted? ? :patch : :post) %>

<form action="<%= action %>"  method="POST" class="form">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div>
    <label for="name">Username</label>

    <input id="name" type="text" name=user[username] value="" required>
  </div>

  <div>
    <label for="password">Password</label>
    <input id="password" type="password" name="user[password]" minlength="6" required >
  </div>

  <div>
    <input type="submit" value="<%= submit %>" class="button form__submit">
  </div>
</form>
