<!--
  Things to change:
    - pre-filled values ()
    - action ()
    - hidden input patch ()
    - submit button ()
-->

<form action="/users" method="POST" >

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div>
    <label for="name">Username</label>

    <input id="name" type="text" name=user[username] value="<%= user.username if user.username %>" required>
  </div>

  <div>
    <label for="password">Password</label>
    <input id="password" type="password" name="user[password]" minlength="8" required >
  </div>

  <div>
    <input type="submit" value="create user">
  </div>
</form>
