<h1>Welcome <%= current_user.username %>!</h1>

<b>Your Feed!</b>
<%= render 'tweets/form', tweets_feed: '#feed' %>

<div class="infinite-tweets">
  <ul id="feed">
    <%# <% @feed_tweets.each do |tweet| %>
      <%# <li><%= render 'tweets/tweet', tweet: tweet %>
      <%# <% end %>
    </ul>
    <button type="button">Fetch more tweets</button>
  </div>
