<div class="grid-container">

  <div class="cats__header">
    <h2>All of the cats in the world</h2>
    <%= link_to new_cat_url, class: "yellow h4" do %>
      Add cat <span class="bolder h1">+</span>
    <% end %>
  </div>
  <div class="cats__container">
    <%= render @cats %>

  </div>

</div>
<% content_for :footer do %>
  <p> Main page</p>
<% end %>
