<h2>New Tweet!</h2>

<form action="/tweets" method="POST" class="tweet-compose" data-tweets-feed="<%= tweets_feed %>">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>"
  >

    <p>Characters left: <strong class="chars-left">140</strong></p>
    <label>
      Content
      <textarea name="tweet[content]"></textarea>
    </label>
    <br>

    <ul class="mentioned-users" data-users='[
      <% User.all.each do |user| %>{"id": "<%= user.id %>", "username": "<%= user.username %>"}, <% end %>]'>
    </ul>

    <br>
    <ul>
      <li>
        <button type="button" id="addMention">Add metion</button>
      </li>
      <li>
        <input type="submit" value="Post Tweet!">
      </li>
    </ul>
  </form>
