<div class="grid-container light-blue-bg">
  <div class="margin-bottom-3">
    <h1 class="form__header">Sign in</h1>

    <div class="grid-x">
      <div class="cell small-12">
        <%= render 'user_form', action: session_url, submit: "Log in" %>
      </div>
    </div>
  </div>
</div>
