<%= render 'form_errors', model: @album %>

<section class="grid-container form__container">
  <div class="grid-x">
    <div class="cell small-12">
      <h1 class="form__header">Edit album: <%= @album.title %></h1>
    </div>

    <div class="cell small-12">
      <%= render 'form', bands: @bands, album: @album %>
    </div>
  </div>
</section>

<% content_for :footer do %>
  <p> bands page</p>
<% end%>
