<p>
  <%= note.content %>
</p>
<p>
  Authored by: <%= note.user.email %>
</p>
<% if current_user.id == note.user.id %>
  <%= button_to "Delete", note_path(note), method: :delete, form_class: ["block", "text-center"], class: ["button", "alert"], params: {track_id: note.track_id } %>
<% end %>
