<%= render 'form_errors', model: @track %>

<div class="grid-container form__container">
  <div class="grid-x">
    <div class="cell small-12">
      <h1 class="form__header">Create a new track!</h1>
    </div>
    <div class="cell small-12">
      <%= render 'form', albums: @albums, album_id: @album_id, track: @track  %>
    </div>
  </div>
</div>

<% content_for :footer do %>
  <p> New track page</p>
<% end %>
