<%# comment %>
<%# all_comments %>

<p>
  <i>
    <%= comment.content %>
  </i>
</p>
<p>author: <%= comment.author.email %>  </p>

<p> <%= link_to 'Reply', comment_url(comment), class: ["button"] %> to this comment</p>
<br>

<% unless comments_by_parent_id[comment.id].nil? %>

  <ul>
    <%# O(1) %>
    <% comments_by_parent_id[comment.id].each do |sub_comment| %>
      <li>
        <%= render 'comment', comment: sub_comment, comments_by_parent_id: comments_by_parent_id %>
      </li>
    <% end %>

  </ul>
<% end %>
