<div class="grid-container">

  <div class="cats__header">
    <h2>All of the bands in the world</h2>
    <%= link_to new_band_url, class: "yellow h4" do %>
      Add band <span class="bolder h1">+</span>
    <% end %>
  </div>
  <div class="cats__container">
    <%= render @bands %>

  </div>

</div>
<% content_for :footer do %>
  <p> Main page</p>
<% end %>
