<style>
  td {
    padding: 5px 15px;
  }
</style>
<div class="grid-container">

  <div class="cats-show__container">
    <h1 class="text-center text-uppercase "><%= @band.name  %></h1>
    <div class="align-top flex-container">
      <img src="http://placekitten.com/200/200" alt="">
      <div class="flex-child-grow" style="margin-left: 1rem">

        <% if false %>
          <% if current_user&.id == @band.user_id %>
            <p style="padding: 5px 17px;">
              <%= link_to "Edit", edit_band_url(@band), class: ["button", "warn"] %>
            </p>

          <% end %>
        <% end %>
      </div>
    </div>
    <div>
      <%= link_to new_album_url(@band), class: "yellow h4 button" do %>
        Add album <span class="bolder h1">+</span>
      <% end %>
    </div>
  </div>
</div>

<% content_for :footer do %>
  <p> Show cat page</p>
<% end %>
